HELP.md
target/

### Maven ###
.mvn/wrapper/maven-wrapper.properties

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db
